@import url('https://fonts.googleapis.com/css?family=Montserrat:600');

h1{
    font-family: 'Montserrat', sans-serif;
}


.image {
    max-width: 850px!important;
}
.jumbotron {
    background-image: url(../images/johannes-plenio-247177-unsplash.jpg);
    background-color: #3d7aaf; /* Orange */
    color: #ffffff;
    height: 450px;
    width: 100%;
}
.navbar {
    color: #3d7aaf;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
.location-heading {
    color: #3d7aaf;
}


.border-light{
    border-style: solid;
    overflow: hidden;
}